@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@400;500;600;700&display=swap');

:root[data-theme="light"] {
  --primary: #730000;
  --secondary: #3962b2;
  --accent: #B23939;
  --neutral-primary: #fff;
  --neutral-secondary: #000;
}

* {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}