---
import HomeLayout from "../layouts/HomeLayout.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
import Carousel from "../components/Carousel.astro";
import VisiMisi from "../components/VisiMisi.astro";
import Divisi from "../components/Divisi.astro";
import Generasi from "../components/Generasi.astro";
import Footer from "../components/Footer.astro";
import Faq from "../components/Faq.astro";
---

<HomeLayout>
  <header>
    <Navbar />
    <Carousel />
  </header>
  <main>
    <VisiMisi />
    <Divisi />
    <Generasi />
    <Faq />
    <Footer />
  </main>
</HomeLayout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
</style>
