---
import "../styles/global.css";

const images = [
  "https://slicing-hima.netlify.app/images/galeri/pembelajaran2.jpg",
  "https://slicing-hima.netlify.app/images/galeri/pembelajaran4.jpg",
  "https://slicing-hima.netlify.app/images/galeri/pembelajaran3.jpg",
  "https://slicing-hima.netlify.app/images/galeri/pembelajaran1.jpg",
];
---

<script>
  const carousel = document.querySelector(".carrosell") as HTMLDivElement;
  const slides = document.querySelector(".slides") as HTMLDivElement;

  let currentSlide = 0;
  const imageCount = slides.querySelectorAll(`img`).length;

  function showSlide(n: number) {
    slides.style.transform = `translateX(-${n * 100}%)`;
    currentSlide = n;
  }

  showSlide(0);

  // Navigasi carousel

  const prevBtn = document.querySelector(".prev");
  const nextBtn = document.querySelector(".next");

  prevBtn?.addEventListener("click", () => {
    showSlide(currentSlide === 0 ? imageCount - 1 : currentSlide - 1);
  });

  nextBtn?.addEventListener("click", () => {
    showSlide(currentSlide === imageCount - 1 ? 0 : currentSlide + 1);
  });

  // Autoplay (opsional)

  setInterval(() => {
    showSlide(currentSlide === imageCount - 1 ? 0 : currentSlide + 1);
  }, 3000);
</script>

<div class="carrosell">
  <div class="slides">
    {
      images.map((image) => (
        <>
          <img src={image} alt="Pembelajaran" />
          <div class="text-content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
              voluptas
            </p>
          </div>
        </>
      ))
    }
    <div class="text-content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
        voluptas
      </p>
    </div>
  </div>
</div>

<style>
  .carrosell {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .slides {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }

  .slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
</style>
