---
import "../styles/global.css";
---

<script>
   const container = document.getElementsByClassName('content-box');
   for(let i = 0;i < container.length;i++){
    container[i].addEventListener('click', function(){
        const isOpen = this.classList.contains('active');
        for(let j = 0;j < container.length;j++){
            container[j].classList.remove('active')
        }
        if(!isOpen){
            this.classList.add('active');
        }
    })
   }
</script>

<header class="title col-1">
    <span class="col-1"></span>
    <h1>FAQ</h1>
    <span class="coi-1"></span>
</header>
<section class="container">
    <div class="content-box">
        <h1 class="qna col-2">Ada berapa divisi dalam ukm himakom</h1>
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium aliquid animi eaque molestias, inventore officiis ipsam minima. Quae nobis magni ipsa voluptatem asperiores nesciunt, voluptas, ratione, aperiam sunt culpa perferendis.</p>
        </div>
    </div>
    <div class="content-box">
        <h1 class="qna col-2">ada kegiatan apa saja di ukm himakom?</h1>
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium aliquid animi eaque molestias, inventore officiis ipsam minima. Quae nobis magni ipsa voluptatem asperiores nesciunt, voluptas, ratione, aperiam sunt culpa perferendis.</p>
        </div>
    </div>
    <div class="content-box">
        <h1 class="qna col-2">sejarah himakom?</h1>
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium aliquid animi eaque molestias, inventore officiis ipsam minima. Quae nobis magni ipsa voluptatem asperiores nesciunt, voluptas, ratione, aperiam sunt culpa perferendis.</p>
        </div>
    </div>
    <div class="content-box">
        <h1 class="qna col-2">benefit ikut himakom?</h1>
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium aliquid animi eaque molestias, inventore officiis ipsam minima. Quae nobis magni ipsa voluptatem asperiores nesciunt, voluptas, ratione, aperiam sunt culpa perferendis.</p>
        </div>
    </div>
</section>

<style>

    header {
    text-align: center;
    }

    .title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    gap: 19%;
     }

    .title span {
    background-color: #730000;
    width: 11rem;
    height: 1rem;
    border-radius: 3px;
     }

     .container .content-box {
        position: relative;
        margin: 10px 200px;
     }
     
    .container .content-box .qna {
        position: relative;
        padding: 10px;
        font-size: 20px;
        background: #730000;
        color: white;
        cursor: pointer;
        border-radius: 10px;
    }

    .container .content-box .qna::before {
        content: '+';
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 1.5em;
    }
    
    .container .content-box.active .qna::before{
        content: '-';
    }

    .container .content-box .content {
        position: relative;
        background: pink;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
        overflow-y: auto;
        border-radius: 10px;;
    }

    .container .content-box.active .content {
        height: 100px;
        padding: 10px;
    }
    section {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   }

   [class*='col-']{
   }

   @media only screen and (max-width:900px){
    .col-1{
        gap: 10px;
    };
    .col-2{
        /* width: 450px; */
    }
   }

</style>