---
import "../styles/global.css";
---

<section class="generasi">
  <div class="title">
      <span></span>
      <h1 class="section-title">GENERASI</h1>
      <span></span>
  </div>

    <div class="container">  
        <div class="generasi-card">
            <a href="#">GEN 17</a>
            <a href="#">GEN 16</a>
            <a href="#">GEN 15</a>
            <a href="#">GEN 14</a>
            <a href="#">GEN 13</a>
            <a href="#">GEN 12</a>
            <a href="#">GEN 11</a>
            <a href="#">GEN 10</a>
            <a href="#">GEN 9</a>
            <a href="#">GEN 8</a>
            <a href="#">...</a>
        </div>
    </div>
</section>

<style>
    .generasi{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 24px;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    gap: 50px;
  }

  .title span {
    background-color: #730000;
    width: 11rem;
    height: 1rem;
    border-radius: 3px;
  }

  .title h1 {
    font-size: 30px;
    font-weight: bold;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .generasi-card a {
    display: flex;
    flex-direction: row;
    gap: 32px;
    background-color: blue;
  }




</style>