---
import "../styles/global.css";
const generasi: {
  name: number;
  url: string;
}[] = [
  { name: 17, url: "#" },
  { name: 16, url: "#" },
  { name: 15, url: "#" },
  { name: 14, url: "#" },
  { name: 13, url: "#" },
  { name: 12, url: "#" },
  { name: 11, url: "#" },
  { name: 10, url: "#" },
  { name: 9, url: "#" },
  { name: 8, url: "#" },
  { name: 7, url: "#" },
  { name: 6, url: "#" },
  { name: 5, url: "#" },
  { name: 4, url: "#" },
  { name: 3, url: "#" },
  { name: 2, url: "#" },
  { name: 1, url: "#" },
];
---

<section class="generasi">
  <div class="title">
    <span></span>
    <h1 class="section-title">GENERASI</h1>
    <span></span>
  </div>

  <div class="container">
    {
      generasi.map(({ name, url }, index) => {
        if (index < 9) {
          return (
            <>
              <a href={url}>Gen {name}</a>
            </>
          );
        }
      })
    }
    <a href="#">...</a>
  </div>
</section>

<style>
  .generasi {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 24px;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    gap: 50px;
  }

  .title span {
    width: 11rem;
    height: 1rem;
    background-color: #730000;
    border-radius: 3px;
  }

  .title h1 {
    font-size: 30px;
    font-weight: bold;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }

  .container a {
    width: 220px;
    height: 80px;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: solid 1px #730000;
    border-radius: 10px;
    font-family: "Inter";
    font-weight: 700;
    font-size: 40px;
    color: #730000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  .container a:hover,
  .container a:focus {
    background-color: #730000;
    color: #fff;
  }
</style>
