---
import "../styles/global.css";
---

<div class="visi-misi">
    <div class="container">
        <div class="card-visi">
            <h2 class="title">VISI</h2>
            <div class="content">
                <p>Menjadikan Organisasi Himakom sebagai wadah untuk saling bertukar pikiran</p>
            </div>
        </div>

        <div class="card-misi">
            <h2 class="title">MISI</h2>
            <div class="content">
                <p>Menjadikan organisasi Himakom sebagai wadah untuk saling bertukar pikiran</p>
            </div>
        </div>


    </div>
</div>