---
import "../styles/global.css";
---

<section class="profil">
  <div class="wrapper">
    <div class="card">
      <h2 class="visi">VISI</h2>
      <div class="card-visi">
        <p class="text">
          Menjadikan Organisasi Himakom <br /> sebagai wadah untuk saling bertukar
          pikiran
        </p>
      </div>
    </div>

    <div class="card">
      <h2 class="misi">MISI</h2>
      <div class="card-misi">
        <p class="text">
          Menjadikan organisasi Himakom <br /> sebagai wadah untuk saling bertukar
          pikiran
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .wrapper {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }
  .card {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .card-visi {
    border: 8px solid var(--secondary);
    align-items: center;
    color: var(--neutral-secondary);
    padding: 8px;
    border-radius: 30px;
    height: 200px;
    width: 450px;
  }
  .card-misi {
    padding-top: 15px;
    border: 8px solid var(--primary);
    align-items: center;
    bottom: 0;
    color: var(--neutral-secondary);
    padding: 8px;
    border-radius: 30px;
    height: 200px;
    width: 450px;
  }

  .visi {
    text-align: center;
    border-radius: 30px;
    padding: 15px;
    color: var(--neutral-primary);
    width: 450px;
    background-color: var(--secondary);
  }
  .misi {
    text-align: center;
    color: var(--neutral-primary);
    width: 450px;
    padding: 15px;
    border-radius: 30px;
    background-color: var(--primary);
  }
</style>
