---
const { pageName = "Home" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageName} | Himakom</title>
    <link rel="shortcut icon" href="logo.png" type="image/x-icon" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
</style>
